@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-nunito: "Nunito Sans", sans-serif;

   /* Dark Mode */
  --color-bg-dark: hsl(207, 26%, 17%);           /* Blue 950 */
  --color-surface-dark: hsl(209, 23%, 22%);      /* Blue 900 */
  --color-text-dark: hsl(0, 100%, 100%);         /* White */

  /* Light Mode */
  --color-bg-light: hsl(0, 0%, 99%);             /* Grey 50 */
  --color-surface-light: hsl(0, 100%, 100%);     /* White */
  --color-text-light: hsl(200, 15%, 8%);         /* Grey 950 */
  --color-placeholder-light: hsl(0, 0%, 50%);    /* Grey 400 */   
  
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ant-input-search-button .ant-btn-icon {
  color: white;
}

.ant-input-clear-icon {
  color: white !important;
}